.items{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 1rem;
    box-shadow: rgba( 149, 154, 145, .2) 0 8px 24px;
    .item{
        background-color: $light-color;
        position: relative;
        overflow: hidden;
        &::after{
            content: '';
            position: absolute;
            display: block;
            background-color: $primary-color;
            opacity: .8;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateX(-120%) translateY(-120%) rotate(45deg);
            transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &:hover::after{
            transform: scale(2) translateX(-20%) translateY(-20%) rotate(45deg);
        }
    }
}